/_deps/
/x64/
/vendor/
/BlastOff++/
/.vs/
/build/CMakeFiles/
/build/_deps/
/build/resource/
/build/linux/
/build/web/
/CMakeFiles/
/_deps/
BlastoffPP.vcxproj.user
BlastOffpp
BlastOffpp.exe
BlastOffpp.html
BlastOffpp.js
BlastOffpp.wasm
BlastOffpp.wasm.map
BlastOffpp.data
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/build.ninja
build/.ninja_deps
build/.ninja_log
settings.json
