/_deps/
/x64/
/vendor/
/BlastOff++/
/.vs/
/CMakeFiles/
BlastoffPP.vcxproj.user
BlastOffpp.exe
BlastOffpp.html
BlastOffpp.js
BlastOffpp.wasm
BlastOffpp.wasm.map
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
settings.json